*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

button,
i,
img,
svg,
.info-button,
.tools li {
  cursor: pointer;
}

iframe {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

/* --------------------------------------header styling---------------------------------------- */

.task-wrapper {
  position: relative;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#header {
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 83px;
}

.logo-container {
  cursor: pointer;
}

.options {
  width: 224px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options li {
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.home,
.build {
  background: #3683f0;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bell {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell svg {
  width: 100%;
  height: 100%;
}

.red-ball svg {
  position: absolute;
  top: 7px;
  left: 18.6px;
}

.profile {
  width: 37px;
  height: 37px;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.options .more {
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.more .dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #3683f0;
}

/* --------------------------------------hero styling---------------------------------------- */

#hero {
  margin: 1.125rem auto;
  width: 1066px;
  position: relative;
  height: 214px;
}

.hero-title {
  color: #0029ff;
  width: 100%;
  height: 42px;
  margin-bottom: 37px;
  display: inline-flex;
  align-items: center;
}

.hero-content {
  padding: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-task-btn {
  color: white;
  width: 121px;
  height: 36px;
  background: #0029ff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 100%;
  height: 135px;
  border-radius: 5px;
  background: #e9ecef;
}

/* --------------------------------------main styling---------------------------------------- */

#main {
  margin: 4.6875rem auto;
  height: 1260px;
  width: 1013px;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main > section {
  overflow: hidden;
  margin-bottom: 43px;
  width: 480px;
  height: 580px;
  border-radius: 15px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --------------------------------------notice board + technical project management styling---------------------------------------- */

#notice-board {
  overflow: hidden;
  width: 95px;
  height: 394px;
  position: absolute;
  right: 0;
  top: 108px;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.section-title {
  color: white;
  width: 100%;
  height: 50px;
  background: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#notice-board .section-title {
  position: relative;
  height: 100%;
  width: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.x-button {
  position: absolute;
  top: 29px;
  cursor: pointer;
}

.section-description {
  font-family: "Open Sans", sans-serif;
  padding: 11px;
  height: 86px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.section-description span {
  font-size: 16px;
  font-weight: 500;
}

.section-content {
  height: 100%;
  border: 1px solid #d1cece;
}

.section-title {
  position: relative;
}

.info-button {
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  right: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 12px;
}

.info-text {
  font-family: "Poly", sans-serif;
  font-size: 16px;
}

/* --------------------------------------journey board styling---------------------------------------- */

#journey-board {
  width: 392px;
  height: 742px;
  background: white;
  position: absolute;
  left: -260px;
  top: 90px;
  border-radius: 20px;
}

#journey-board label {
  position: absolute;
  right: 26px;
  z-index: 10;
  top: 25px;
  transform: translate(0, -50%);
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 12px;
  cursor: pointer;
}

.journey-board-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.journey-board-content {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  position: absolute;
  left: 0px;
  top: 50px;
}

#journey-board .section-title {
  border-radius: 0 20px 0 0;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0px;
}

#journey-board input {
  display: none;
}

#collapse:checked ~ .journey-board-content,
#collapse:checked ~ .section-title {
  left: 260px;
}

#collapse:checked ~ label {
  transform: translate(260px, -50%) rotate(180deg);
}

#collapse ~ .journey-board-content,
#collapse ~ .section-title,
#collapse ~ label {
  transition: 0.5s;
}

#collapse:checked ~ .journey-board-content ul {
  display: block;
}

#collapse:checked ~ .journey-board-content .journey-board-notification {
  display: none;
}

.journey-board-content ul {
  display: none;
  width: 309px;
  padding: 21px 0;
  margin: auto auto;
  list-style-type: disc;
}

.journey-board-content ul > li:first-child {
  margin-bottom: 18px;
}

.journey-board-notification {
  width: 68px;
  height: 68px;
  border: 1px solid #0029ff;
  border-radius: 20px;
  margin: 26px 32px auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0029ff;
  font-size: 36px;
}

/* --------------------------------------threadbuild styling---------------------------------------- */

#main section {
  overflow: hidden;
}

#threadbuild input:first-child {
  display: none;
}

#threadbuild textarea {
  outline: none;
  border: none;
}

#threadbuild .thread-expand h2 {
  padding-inline: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 88px;
  width: 100%;
  background: rgba(253, 255, 192, 0.20000000298023224);
  box-shadow: 0px 0.1px 1px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.up-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thread-content {
  display: flex;
  flex-direction: column;
  padding-inline: 27px;
}

.thread-options,
.thread-icons,
.thread-text-input {
  display: flex;
  align-items: center;
}

.thread-text-input {
  justify-content: space-between;
}

.sub-wrapper {
  margin-top: 30px;
  position: relative;
  width: 200px;
  height: 95px;
  position: relative;
  border-radius: 20px;
}

.sub-wrapper textarea {
  position: absolute;
  top: 25px;
  height: 70px;
  width: 100%;
  background: #f9f9f9;
  border-radius: 10px;
  vertical-align: text-top;
}

.sub-wrapper p {
  padding-top: 4px;
  padding-left: 7px;
  position: absolute;
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

textarea {
  padding-left: 7px;
  padding-top: 7px;
}

textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
}

.sub-wrapper textarea {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25), 0 0 0.5px rgba(0, 0, 0, 0.25);
}

.sub-wrapper p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25), 0 0 0.5px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.thread-options {
  height: 32px;
  margin-top: 22px;
  padding-left: 82px;
  margin-bottom: 36px;
}

.thread-icons {
  margin-right: 27px;
  gap: 14px;
}

.thread-icons div {
  height: 32px;
}

.catalog-wrapper {
  display: flex;
  gap: 20px;
}

.catalog-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 32px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #000000;
}

.catalog-wrapper button select {
  outline: none;
  background: none;
  border: none;
  font-size: 16px;
}

.sub-thread-btn button {
  width: 97px;
  height: 36px;
  background: #0029ff;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.thread-summary.sub-wrapper {
  margin-top: 19px;
  width: 100%;
}

.thread-summary.sub-wrapper > * {
  margin-left: 0;
  left: 0;
  padding-left: 15px;
}

.section-description {
  display: flex;
  align-items: center;
  padding-inline: 23px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-align: left;
}

#threadbuild .thread-content {
  max-height: 580px;
  height: 580px;
  transition: max-height 0.5s;
  overflow: hidden;
}

#threadbuild input#expand:checked ~ .thread-content {
  max-height: 0;
}

#threadbuild input#expand ~ label .up-arrow {
  transform: rotate(0deg);
  transition: 0.5s;
}

#threadbuild input#expand:checked ~ label .up-arrow {
  transform: rotate(180deg);
}

/* --------------------------------------syp styling---------------------------------------- */

#structure-your-pointers .section-content {
  padding-inline: 31px;
}

#structure-your-pointers .section-content > div {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
}

#structure-your-pointers .section-content > div > label {
  height: 33px;
  width: 100%;
}

#structure-your-pointers .section-description {
  height: 131px;
}

#structure-your-pointers .section-content textarea {
  border: none;
  outline: none;
  height: 43px;
  background: #fbfbfb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
}

#structure-your-pointers .section-content .title textarea {
  border-radius: 5px;
}

#structure-your-pointers .tools {
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 20px;
  margin-top: 5px;
  background: #fbfbfb;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
  z-index: 5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
}

#structure-your-pointers .tools ul {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #606060;
}

#structure-your-pointers .tools .icons {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #606060;
}

#structure-your-pointers .tools .icons button {
  width: 102px;
  height: 18px;
  color: inherit;
  text-align: left;
  display: flex;
  align-items: center;
}

#structure-your-pointers .section-content .content textarea {
  height: 142px;
  background: #fbfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
}

#foursa-method .section-description {
  height: 102px;
}

#structure-your-pointers .tools .icons .more {
  display: flex;
  gap: 2px;
}

#structure-your-pointers .tools .icons .more .more-dot {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #606060;
}

#structure-your-pointers .title {
  height: 81px;
}

#structure-your-pointers .title,
#structure-your-pointers .content label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

/* --------------------------------------help buttons styling---------------------------------------- */

#help-buttons {
  height: 297px;
  width: 85px;
  position: absolute;
  right: 52px;
  bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#help-buttons div {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background: #0029ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* --------------------------------------4sa styling---------------------------------------- */

#foursa-method .section-content {
  padding-inline: 23px;
}

#foursa-method .section-content > div {
  position: relative;
  margin-bottom: 20px;
}

#foursa-method .section-content input {
  display: none;
}

#foursa-method .section-content label h3 {
  width: 100%;
  padding-left: 14px;
  height: 43px;
  border: 1px solid #d9d7d7;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 20px;
}

#foursa-method .section-content .introduction h3 {
  background: #F2F2F2;
  border: none;
}

#foursa-method .section-content .example {
  height: 122px;
}

#foursa-method .section-content p {
  margin-top: 16px;
  margin-left: 11px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}

.h5-see-more {
  width: 71px;
  height: 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #5f6060;
  margin-left: 362px;
  margin-top: 31px;
  cursor: pointer;
}

.threadA .h5-see-more {
  margin-top: 20px;
}

.threadA p {
  height: 67px;
}

#foursa-method .example {
  margin-left: 40px;
  margin-top: 16px;
}

#foursa-method .example p {
  margin-top: 12px;
  margin-left: 0;
}

#foursa-method .section-content input:checked ~ p, #foursa-method .section-content input:checked ~ .h5-see-more {
  max-height: 0;
  transition: max-height 0.5s;
}

#foursa-method .section-content p,
#foursa-method .section-content .h5-see-more {
  max-height: 75px; 
  overflow: hidden;
  transition: max-height 0.5s;
}

#foursa-method input:checked ~ label .up-arrow {
  transform: rotate(0deg);
  transition: 0.5s;
}

#foursa-method input:checked ~ label .up-arrow {
  transform: rotate(180deg);
}